h1,
h2,
h3,
h4,
h5,
h6 {
  color: #242c33;
}

.container {
  background: #f0f3f5;
  text-align: justify;
}

.mainBox {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 22px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #2a6ec1;
  padding: 4px 12px;
  background: #fff;
  font-size: 14px;
}

.flex > :nth-child(n):hover {
  cursor: pointer;
  text-decoration: underline;
}

.content {
  flex-grow: 1;
}
