.goingBackButton {
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-shadow: 0px 1px 0px 0px rgb(17 21 26 / 12%);
}

.goingBackButton > h3 {
    color: #242c33;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    transform: translateY(-1px);
    margin-left: 10px;
}

.travelDisplayFlex {
    display: flex;
    padding: 0 9vh;
    width: 80%;
    margin: 30px auto;
}

.leftPart {
    width: 30%;
    margin-left: 10%;
}

.comfortness, .roomAmenties {
    color: #242c33;
    font-size: 1.375rem;
    font-weight: 700;
}


.featureComfort {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    color: #242c33;
}

.featureComfort > span {
    color: #505c66;
    margin-left: 10px;
}

.roomAmenties {
    margin-top: 40px;
}

.featureHeading {
    margin: 0px 0px 0px 20px;
}

.roomService > li {
    color: #505c66;
    line-height: 1.725rem;
    padding-left: 0.5rem;
    position: relative;
    font-size: 15px;
}


.priceDetailsHeading, .priceDetails > h4 {
    color: #242c33;
    font-size: 1.375rem;
    font-weight: 700;
    margin-top: 30px;
}

.priceDetails {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(80, 92, 102, 0.5);
}

.priceDetails > h4 {
    font-size: 0.875rem;
    margin-top: 10px;
    padding: 5px;
}

.cancellationPolicyMoreDetails {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.cancellationPolicyMoreDetails > a {
    text-decoration: none;
    margin-right: 5px;
    color: #505c66;
    font-size: 0.75rem;
}

.cancellationPolicyMoreDetails > a:hover {
    text-decoration: underline;
}

.priceDetails > li {
    color: #505c66;
    font-size: 0.85rem;
    margin-top: 10px;
}

.offerDiscount {
    background: #1f7d57;
    width: 9%;
    text-align: center;
    border-radius: 20px;
    padding: 2px 0px;
    font-size: 0.75rem;
}

.originalPrice {
    color: #505c66;
    opacity: 0.5;
    text-decoration: line-through;
    margin-top: 5px;
}

.discountedPrice {
    color: #242c33;
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.625rem;
}

.priceInfoWithDetails {
    color: #505c66;
    font-size: 0.625rem;
    line-height: 1.285;
}

.reserveBtn {
    margin-top: 20px;
    text-align: right;
}

.reserveBtn > button {
    background-color: #0d5ab9;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    line-height: 1.25rem;
    min-height: 2.25rem;
    padding: 0.25rem 1rem;
    border: none;
    font-weight: 500;
}