* {
    margin: 0;
    padding: 0;
}

.room_grid {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.room_div {
    margin-top: 16px;
    border: 1px solid rgb(143, 141, 141);
    border-radius: 10px;
    background: #FFF;
}

.room_div>img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.room_details {
    padding: 8px;
}

.room_details>:nth-child(n) {
    margin-top: 10px;
}

.room_details>small {
    font-size: 11.5px;
    color: grey;
}

.green, .green+span {
    color: green;
    cursor: pointer;
}

.flex_1 {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: grey;
}