.footer {
  background-color: #f0f3f5;
}
.FooterDisplay {
  color: black;
  display: flex;
  justify-content: space-around;
  padding: 2vh;
  /* padding-top: 2px; */
}
.FooterLi {
  list-style-type: none;
  padding-top: 10px;
  font-size: 2vh;
}
.FooterLink {
  color: #0c5ac2;
  text-decoration: none;
}
.footerImages {
  width: 30vh;
  margin-top: -23vh;
}
.FooterUL > h1 {
  color: #242c33;
  font-size: 2.4vh;
  font-weight: bold;
}
.footerCopyWrites {
  font-size: 2vh;
  text-align: center;
  color: #505c66;
}
