.roomInfoService {
  /* border: 1px solid dodgerblue; */
  padding: 1vh;
  color: #242c33;
  margin: 35px 68px;
}
.roomTime {
  display: flex;
  flex: 1;
  font-size: 2vh;
  /* padding: 0 2vh 0 3vh; */
  background-color: #ffffff;
  list-style-type: decimal-leading-zero;
}
.roombaypower {
  font-size: 2.2vh;
}
.roomTimeDetails {
  font-weight: bold;
  font-size: 2.3vh;
  letter-spacing: 0.4vh;
}
.acccessiblity {
  display: flex;
}
.traveldisplayflex {
  display: flex;
  padding: 0 9vh;
}
.travelCustom {
  padding: 3vh;
  /* border: 1px solid red; */
}
.op {
  background-color: #ffffff;
  border: 1px solid #242c33;
  border-radius: 1vh;
  width: 100%;
  padding: 1vh;
  display: flex;
  margin: 0 16px;
}
.optitle {
  color: #7ab29b;
}
.ReservePercentage {
  background-color: #7ab29b;
  width: 45%;
  text-align: center;
  border: 1px solid none;
  border-radius: 2vh;
  font-size: 2vh;
}
.moneyunder {
  text-decoration: line-through;
  font-size: 2vh;
}
.ReserveIncrement {
  font-size: 3vh;
}

.moneyunder2 {
  color: black;
  font-size: 1.3vh;
}
.moneyunder3 {
  color: blue;
  font-size: 2vh;
}
.ReserveDate {
  font-size: 1.9vh;
}

.travelLeftOrRemain {
  margin-top: 31vh;
  margin-left: 42vh;
}
.roominfoBack {
  color: whitesmoke;
  font-size: 16px;
}
.adjustroomicon {
  margin: 12px;
}
