.Navbarnav {
  background-color: #0a438b;
  font-size: 14px;
  display: flex;
  /* margin: 10 10vh; */
  margin-top: 12px;
  width: 100%;
  /* padding: 2px; */
}
.NavbarnavLogo {
  margin: 12px 5vh;
}

.NavbarUl {
  color: darkolivegreen;
  display: flex;
  flex: 1;
  padding: 2vh;
  margin: 5px 62vh;
  padding: 4vh;
  text-align: right;
}

.NavbarLi {
  text-align: right;
  list-style-type: none;
  padding-left: 4vh;
  margin-left: 2vh;
  font-weight: bold;
}

.travelNavLink {
  text-decoration: none;
  color: #ffffff;
  font-size: 2vh;
}
